header {
    display: flex; 
    justify-content: space-between;
    background-color: #3944dd;
    align-items: center;
    padding: 4px 2px;
} 

.logo {
    border: #f25a70;
    border-style: dashed; /*temp*/
}

.logo:hover {
    border: gold;
    border-style: dotted; /*temp*/
    transform: translateX(2px) scale(1.06);
}

/* itens de menu*/
.aMenu {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    color: white;    
    text-decoration: none;
    margin-right: 40px;
}

/*pontinhos do menu*/
.aMenu::before {
    content: '';
    background-color: #f25a70;
    width: 7px;
    height: 7px;
    margin-right: 5px;
}

.aMenu:hover {
    color: gold;
}