table {
    text-decoration: none;
}

.sectionOne {
    background-color: #f5e300;   

}

.ul-projects {  
    margin: 0;
    display: flex;
    justify-content: space-evenly;   
}

.li-projects { 
    background-color: #dfa24b;
    text-align: center; 
    border: 2px solid black;
    padding: 1px 4px;
}

li {
    list-style: none;
}